body {
    background-image: linear-gradient(to top, #7fb7b4, #528d98, #2d647a, #123d5a, #051937);
}


.dropdown-item {
    font-size: 16px;
    font-weight: bold;
}

.navbar-brand {
    margin-left: 15px
}

@media (min-width: 767px) {
    .navbar-brand {
        position: relative;
        left: 16%;
        text-align: left;
        margin: auto;
    }
}


.navbar button {
    margin-right: 10px;
}

#headingOne {
    background-color: #123d5a;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    color:  #fff;
}

#content {
    font-family: 'Open Sans';
    font-size: 16px;
}

#nav-list {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5em;
    color:  #fff;
}

#photo-1 {
    width: 350px;
    height: 300px;
    margin-top: 100px;
}


#carousel-img {
    margin-top: 100px;
    width: 700px;
    height: 500px;
    align-content: center;
}

#spliff {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: white;
}

/* .carousel-control-next,
.carousel-control-prev, 
.carousel-indicators  {
    filter: invert(100%);
} */