body {
    background-image: linear-gradient(to bottom, #000000, #0c0b0b, #141414, #1b1a1a, #212020);
    overflow-y: scroll;
}


.dropdown-item {
    font-size: 16px;
    font-weight: bold;
}

.navbar-brand {
    margin-left: 17px
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        position: relative;
        left: 16%;
        text-align: left;
        margin: auto;
    }

    #open-overlay-btn {
        visibility: hidden;
      }

    #who-we-are {
        font-family: 'Roboto Condensed';
        color:  #adadad;
        text-align: center;
        margin-bottom: 170px;
    }

    #join-us {
        font-family: 'Roboto Condensed';
        color:  #adadad;
        text-align: center;
        margin-bottom: 170px;
    }

    #invoice {
      background: white;
      border: none;
      border-radius: 15px;
      color: black;
      padding:  15px;
    }
}

#bottom-margin {
    margin-top: 100px;
}


.navbar a {
    margin-right: 25px;
}

#navbarSupportedContent {
    font-size: 16px;
}

#motto {
    font-family: 'Roboto Condensed';
    color:  #adadad;
    text-align: center;
    margin-bottom: 70px;
}


#who-we-are {
    font-family: 'Roboto Condensed';
    color:  #adadad;
    text-align: center;
    margin-bottom: 170px;
    padding-left: 30px;
    padding-right: 30px;
}


#join-us {
    font-family: 'Roboto Condensed';
    color:  #adadad;
    text-align: center;
    margin-bottom: 170px;
    padding-left: 30px;
    padding-right: 30px;
}


#headingOne {
    background-color: #0c0b0b;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    color:  #adadad;
    border-radius: 3px;

}


#content {
    font-family: 'Roboto';
    font-size: 16px;
}

#nav-list {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5em;
    color: #adadad;
}

#photo-1 {
    width: 350px;
    height: 300px;
    margin-top: 100px;
}


#carousel-img {
    margin-top: 100px;
    width: 700px;
    height: 500px;
    align-content: center;
}

#spliff {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: white;
}

/* .carousel-control-next,
.carousel-control-prev, 
.carousel-indicators  {
    filter: invert(100%);
} */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 3;
}

#overlay-content {
    background-color: #0c0b0b;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    padding-top: 120px;
    font-family: 'Roboto Condensed';
    font-size: 26px;
    line-height: 1.8em;
    color: #adadad;
}

#open-overlay-btn {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding-left: 7px;
    padding-bottom: 7px;
}

#close-overlay-btn {
    position: fixed;
    top: 15px;
    right: -1px;
    background-color: transparent;
    cursor: pointer;
    height: 28px;
    width: 28px;
    padding-left: 7px;
    padding-top: 0;
    padding-right: 0px;
    padding-bottom: 7px;
}


input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 36px;
  color: black;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  background: transparent;
  box-shadow: none;
  font-size: 36px;
  color: black;
}


#invoice {
    background: white;
    border: none;
    border-radius: 15px;
    color: black;
    padding: 15px;
}

#spliffpay-logo {
    width: 200px;
    height: 65px;  
}

#spliffpay {
    font-family: 'Roboto Condensed';
    color:  #adadad;
    margin-top: 50px;
    margin-bottom: 50px;
}

#icon-div {
    margin-top: 150px;
    margin-bottom: 150px;
}

#coin-png {
    height: 50px;
    width: 50px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    margin-top: 25px;
}

#p2p {
  height: 180px;
  width: 250px;
  margin-bottom: 50px;
}


